.material-text {
    padding: 8px;
    margin: 1rem 0.5rem;
    position: relative;
    display: inline-block;
}

.material-text > input {
    line-height: 2;
    font-size: 14px;
    margin-top: 14px;
    background-color: transparent;

    border: none;
    border-bottom: 2px solid #666;

    transition: all .35s;
    -webkit-transition: all .35s;
}

.material-text > label {
    top: calc(50% + 7px);
    left: 8px;
    z-index: -1;
    font-size: 1.5rem;
    position: absolute;
    transform: translateY(-50%);

    transition: all .35s;
    -webkit-transition: all .35s;
}

.material-text > input.hasValue,
.material-text > input:focus {
    border-bottom-color: #e53935;
}

.material-text > input.hasValue ~ label,
.material-text > input:focus ~ label {
    top: 8px;
    color: #e53935;
    font-size: 1.2rem;
    transform: none;
}
