.material-form {
    padding-top: 2rem;
    position: relative;
}

.material-form > * {
    vertical-align: top;
}

@media screen and (max-width: 1127px) {
    .material-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
