.info-block {
    margin: 2rem 0rem;
    padding: 1.5rem 2rem;
    background-color: #f6f6f6;
}

.about-photo {
    overflow: hidden;
    margin: 2rem 0;
}

.about-photo > img {
    width: 100%;
}

.about-photo > img ~ img {
    margin-top: 2rem;
}

.aboutus-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#page_title {
    margin-top: 2rem;

}

#page_title > div {
    text-align: center;
}

h3::first-letter, .title > .fa {
    color: #e53935;
}

.info-block ul {
    padding-left: 3rem;
}

.position {
    font-weight: bold;
}

h3 {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h3 span {
    background: #fff;
    padding: 0 10px;
}

@media (min-width: 900px) {
    h3 {
        width: 40%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    h3 span {
        background: #fff;
        padding: 0 10px;
    }
}