/* course Listing */
.highlight {
    color: white;
    background-color: #e53935;
}

.material-select .psuedo_select {
    min-width: 16rem;
}

.course {
    position: relative;
    margin: 5rem 0;
}

.course .course-info {
    height: 100%;
    overflow-x: auto;
}

.course .course-info table {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.course .course-info tr > * {
    padding: 1rem;
}

.course .course-info th {
    width: 22%;
    color: #e53935;
    letter-spacing: .5px;
}

.course .course-info th .fa {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}

.course .course-info td {
    width: 78%;
    text-align: justify;
}

.course .course-info td p {
    margin-bottom: 0px;
}

.course .course-info tr:nth-child(odd) {
    background-color: #e9e9e9;
}

.course .course-info tr:nth-child(even) {
    background-color: #f6f6f6;
}

.course-info {
    margin-left: auto;
    margin-right: auto;
}

.course-info a {
    color: #0000b5;
    font-weight: bold;
}

.course-info a:hover {
    text-decoration: underline;
}

.col-md-8 {
    width: auto;
    margin: 0 auto;
    float: unset;
    max-width: 900px;
}