body {
    background: #f2f2f2;
}

h4 {
    margin: 0;
}

.summary-container {
    margin: 2rem auto;
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 10px;
}

.material-icons {
    color: #868686;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.summary-row {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.summary-row  > div {
    font-size: 0.9375rem;
    align-self: flex-end;
}

.key {
    color: #868686;
}

.total {
    font-weight: 600;
}

.amount {
    color: #e53935;
    font-size: 1.9375rem;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .summary-container {
        width: 740px;
        margin: 2rem auto;
    }

    .summary-row  > div {
        font-size: 1.20625rem;
    }

    .summary-row {
        margin: 2rem 0;
    }

    .summary-container {
        padding: 2rem;
    }

    .material-icons {
        top: 2px;
    }

    .modal-confirm {
        width: 325px;
    }
}

#paypal-button-container {
    margin: 2rem 10% 0 10%;
}


/* Modal Setting */

.modal-dialog {
    top: 15%;
    margin: 0 auto;
}

.modal-confirm {
    width: 325px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
    padding: 0;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 1rem 0;
}

.modal-confirm .icon-box {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    margin-top: unset;
    margin-right: .25rem;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    outline: none;
}

.modal-title {
    color: #212529;
}

.modal-footer.row {
    margin: 0;
}

.icon-box .material-icons {
    color: #fff;
    margin: 0;
}