.header-container {
    display: flex;
    justify-content: center;
    padding: 8px 0 8px 0;
    background: #333;
}

.navbar {
    display: flex;
    align-self: flex-end;
}

nav {
    width:100%;
    text-overflow: unset;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar ul {
    display:flex;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
    text-overflow: unset;
}

.navbar ul > li {
    padding-right: 64px;
    display: inline-block;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.navbar ul > li > a:hover{
    text-decoration: underline;
    color: #e53935;
}

.logo, .right {
    flex: 1;
    padding-left: 10%;
}