.title > .fa {
    color: #e53935;
}

.title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.fa {
    font-size: 1.1rem;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    vertical-align: middle;
}