body {
    background: #f2f2f2;
}

.user-container {
    margin: 2rem auto;
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.btn-danger {
    width: 100%;
}


.title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.title > .fa {
    color: #e53935;
    font-size: 1.1rem;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    vertical-align: middle;
}

.form-group > label {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .form-group > label {
        text-align: right;
    }
}

#profile1 > .wrapper, #profile2 > .wrapper {
    all: unset;
}