/* Google Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff');
}

/* vietnamese */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYE58RWq7.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Custom universal CSS style */
* {
    font-family: 'Lato', sans-serif;
}

.mono .th-inner {
    font-family: 'Space Mono', monospace !important;
}

html {
    position: relative;
    height: 100%;
    min-height: 100vh;
    font-size: 1rem;
}

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.2rem;
    }
}

body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
}

/* Custom Bootstrap */
@media (max-width: 992px) {
    .btn-md-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-md-block,
    input[type="reset"].btn-md-block,
    input[type="button"].btn-md-block {
        width: 100%;
    }

    .btn-block + .btn-md-block,
    .btn-md-block + .btn-block,
    .btn-md-block + .btn-md-block {
        margin-top: 0.5rem;
    }
}

/* Make table cell fit content */
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.btn-icon {
    box-sizing: content-box;
    max-height: 24px;
}
