/*footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*padding: 8px 16px;*/
/*background: #333 !important;*/
/*color: #a9a9a9;*/
/*display: flex;*/
/*align-items: flex-start;*/
/*flex-direction: column;*/
/*}*/

footer {
    position: relative;
    clear: both;
    width: auto;
    padding: 8px 16px;
    background: #333 !important;
    color: #a9a9a9;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.link-container {
    display: flex;
    margin-bottom: 8px;
}

.link-container > div {
    margin-right: 16px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #f64747;
    text-decoration: underline;
}